/* App.css */

/* Body and basic styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}



/* Carousel Section */
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  padding: 30px;
  background-color: #2e2e2e;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
}

.stage {
  background-color: green;
  padding: 30px;
  margin: 15px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  width: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
 
/* Scale the stage container when hovered */
.stage-container:hover {
  transform: scale(1.05); /* Slightly scale up the stage container */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* Enhance the shadow on hover */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

/* Scale the links when hovered */
.stage-container a:hover {
  transform: scale(1.1); /* Scale up the link when hovered */
  color: #4caf50; /* Change link color on hover */
  transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.stage:hover {
  transform: scale(1.05); /* Slight zoom on hover */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

h2 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Buttons */
button {
  padding: 12px 20px;
  margin: 0 15px;
  cursor: pointer;
  background-color: #123217;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #66BB6A;
}

/* Document Link Button */
.doc-link-button {
  background-color: #123217;
  color: white;
  padding: 12px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
}

.doc-link-button:hover {
  background-color: #66BB6A;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Content Styling */
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
}

a {
  color: #123217;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Link color adjustments */
a {
  color: white; 
  text-decoration: none;
  transition: color 0.3s ease;
}


/* Add hover effect for better user interaction */
a:focus, a:hover {
  color: red;
  transform: scale3d(5);
}

